---
apiVersion: v1
kind: Service
metadata:
  name: webphotobook
  namespace: ${insecure_app_ns:-insecure_app}
spec:
  clusterIP: ${INSEC:-None}
  clusterIPs:
    - None
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: webphotobook-port
      port: 5000
      protocol: TCP
      targetPort: 5000
  selector:
    app: webphotobook
  sessionAffinity: None
  type: ClusterIP
...
